.button {
	padding: 16px 32px;
	border-radius: 32px;
	font-size: 6rem;
	font-weight: 600;
}

.primary {
    background-color: var(--button-color);
    color: var(--button-text);
    border: 2px solid var(--button-color);
}

.primary:hover {
    background-color: transparent;
    color: var(--secondary-color);
}