.button {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
}

.primaryDark,
.primary {
    background-color: var(--red);
    color: var(--light);
}

.primary:hover {
    background-color: transparent;
    color: var(--black);
}

.primaryDark:hover {
    background-color: var(--black);
}

.primaryInverted {
    color: var(--black);
}

.primaryInverted:hover {
    background-color: var(--red);
    color: var(--black);
    color: var(--light);
}

.social {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 1px solid var(--red);
    color: var(--light);
}

.social:hover {
    background-color: var(--red);
    transform: translateY(-4px);
}